/* =================================================== */
/* Textbox & Drop-down list                            */
/* =================================================== */

input[type=text], select {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    height: 30px;
    background-color: #999999;
    color: #FFFFFF;
    border: 1px solid #000000;
    margin: 0;
}

input[type=text] {
    padding: 0px 6px;
}

div.dialog input[type=text], div.dialog select {
    height: 22px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;*/
    background-image: url(../images/dropdownarrow.png);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0px 2px;
}

select option {
    border: 1px solid #000000;
    color: #000000;
    background-color: #999999;
}

/* =================================================== */
/* Edit fields                                         */
/* =================================================== */

input.movieyearfield {
    width: 60px;
}

input.movienamefield {
    width: 431px;
}

@media screen and (min-width: 1070px) {
    input.movienamefield {
        width: 746px;
    }
}

input.newurlfield {
    width: 370px; /*386px;*/
    margin: 0px 12px 0px 10px;
}

select.tvshownamefield {
    width: 431px;
}
@media screen and (min-width: 1070px) {
    select.tvshownamefield {
        width: 603px;
    }
}

select.tvshowseasonfield {
    width: 150px;
}


select.fileepisode {
    width: 115px;
}

select.filesubtitle {
    width: 110px;
}

