/* =================================================== */
/* Generic Button                                      */
/* =================================================== */

button {
    font-family: 'Open Sans', sans-serif;
    background-color: #660000;
    border: 0px solid #FFFFFF;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    overflow: hidden;
}

button:disabled {
    cursor: default;
}

/* =================================================== */
/* Button in buttongroup                               */
/* =================================================== */

.buttongroup {
    border: 0px solid #000000;
    background-color: #000000;
    margin: 0;
    padding: 0px 0px 0px 1px;
    display: inline-block;
    overflow: hidden;
}

div.buttongroup button {
    width: 28px;
    height: 28px;
    background-color: #999999;
    margin: 1px 1px 1px 0px;
    box-shadow: none;
}

div.buttongroup img {
    width: 24px;
    height: 24px;
    margin: auto;
}

div.buttongroup button:disabled img {
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}


/* =================================================== */
/* Button in actiongroup                               */
/* =================================================== */

.actionbuttonsgroup {
    box-shadow: none;
    width: 60px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    /*background-color: #000000;*/
}

div.actionbuttonsgroup button {
    width: 50px;
    height: 50px;
    background-color: #999999;
    margin: 7px 0px 7px 5px;
    box-shadow: 3px 3px 2px #AAAAAA;
    overflow: hidden;
    display: inline-block;
}

div.actionbuttonsgroup img {
    width: 36px;
    height: 36px;
    margin: auto;
    display: inline-block;
}

div.actionbuttonsgroup button:disabled img {
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}

