.editmodefields {
    margin: 0 0 5px 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

.readonlyfields {
    display: inline-block;
}

.tvshowonlyfields, .movieonlyfields, .unknownonlyfields, .copyonlyfields, .ignoreonlyfields {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}
