div.editmodefields {
    margin: 0 0 5px 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

div.readonlyfields {
    display: inline-block;
    overflow: hidden;
}

div.tvshowonlyfields, div.movieonlyfields, div.unknownonlyfields, div.ignoreonlyfields, div.copyonlyfields {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

div.narrowspacer {
    width: 100%;
    height: 5px;
    /*background-color: #ff0000;*/
    display: inline-block;
}
@media screen and (min-width: 1070px) {
    div.narrowspacer {
        display: none;
    }
}
