body {
    width: 560px;
    background: #DDDDEE;
    font-family: 'Open Sans', sans-serif;
    line-height: 100%;
    margin: 0 auto;
    padding: 5px;
}

@media screen and (min-width: 1070px) {
    body{
        width: 1054px;
    }
}

span {
    margin: 0;
    padding: 0;
}

div.screenblock {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(100,100,150,0.75);
    width: 100%;
    height: 100%;
}

div.hidden {
    display: none;
}
