div.tilesgroup {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    width: 496px;
    vertical-align: top;
    /*background-color: #aa6666*/;
}

@media screen and (min-width: 1070px) {
    div.tilesgroup{
        width: 990px;
    }
}

div.tile, a.tile {
    display: inline-block;
    overflow: hidden;
    margin: 7px;
    padding: 7px 10px;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 3px 3px 2px #AAAAAA;
    outline: 0;
}

a.tile {
    text-decoration: none;
}

a.tile:hover {
    background-color: #222222;
}

.torrent_seeding_active {
    background-color: #009600;
}

.torrent_seeding_queued {
    background-color: #009600;
}

.torrent_seeding_paused {
    background-color: #000096;
}

.torrent_downloading_active {
    background-color: #DC6E00;
}

.torrent_downloading_queued {
    background-color: #DC6E00;
}

.torrent_downloading_paused {
    background-color: #AF0000;
}

.torrent_checking {
    background-color: #000000;
}

.torrent_error {
    background-color: #000000;
}

.file_video_copy, .file_video_ignore {
    background-color: #7D7D00;
}

.file_subtitle_copy, .file_subtitle_ignore {
    background-color: #640032;
}

.file_none_ignore, .file_none_copy {
    background-color: #141414;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

div.titlebox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 3px 6px 3px;
}

div.titlebox img {
    display: inline-block;
    height: 18px;
    width: 18px;
    /*margin: -2px 5px -2px 5px;*/
    margin: -2px 0px -1px 0px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}

/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.tilesplitter {
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

div.subtitlebox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 75%;
    padding: 5px 4px 4px 4px;
}

div.subtitlebox img {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: -2px 5px -2px 5px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}



/* ===============================================================================*/

div.meter {
    height: 68px;
    width: 121px;
    display: inline-block;
    /*border: 1px solid #993333;*/
    position: absolute;
    top: 80px;
}

@media screen and (min-width: 1070px) {
    div.meter {
        top: 8px;
    }
}

div.speedmeter {
    /*background: url("../images/meter_speed.png") no-repeat top left;*/
    right: 134px;
}

div.countmeter {
    /*background: url("../images/meter_counts.png") no-repeat top left;*/
    right: 8px;
}

div.spacemeter {
    /*background: url("../images/meter_space.png") no-repeat top left;*/
    left: 134px;
}

div.thermometer {
    /*background: url("../images/meter_temp.png") no-repeat top left;*/
    left: 8px;
}

div.indexbannertitle {
    height: 48px;
    line-height: 40px;
}

div.indexbannercontent {
    height: 68px;
    display: inline-block;
    /*border: 1px solid #993333;*/
    text-align: center;
    font-size: 28pt;
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
}

@media screen and (min-width: 1070px) {
    div.indexbannercontent {
        left: 260px;
        right: 260px;
    }
}

#IndexBanner {
    position: relative;
    height: 144px;
}

@media screen and (min-width: 1070px) {
    #IndexBanner {
        height: 72px;
    }
}