/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

a.headlinetile, div.headlinetile {
    width: 460px;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

div.titleleft {
    width: 427px;
    text-align: left;
}

div.titleright {
    width: 20px;
    text-align: right;
}

div.titlefullwidth {
    width: 454px;
    text-align: left;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.splitterline {
    width: 452px;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

div.subtitleleft {
    width: 387px;
    text-align: left;
}

div.subtitleright {
    width: 56px;
    text-align: right;
}

div.subtitlefullwidth {
    width: 452px;
    text-align: left;
}

div.fileleft {
    width: 353px;
    text-align: left;
}

div.fileright {
    width: 90px;
    text-align: right;
}
