div.tilesgroup {
    margin: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    width: 496px;
    vertical-align: top;
    /*background-color: #aa6666*/;
}

@media screen and (min-width: 1070px) {
    div.tilesgroup{
        width: 990px;
    }
}

div.tile, a.tile {
    display: inline-block;
    overflow: hidden;
    margin: 7px;
    padding: 7px 10px;
    color: #FFFFFF;
    border-style: none;
    box-shadow: 3px 3px 2px #AAAAAA;
    outline: 0;
}

a.tile {
    text-decoration: none;
}

a.tile:hover {
    background-color: #222222;
}

.torrent_seeding_active {
    background-color: #009600;
}

.torrent_seeding_queued {
    background-color: #009600;
}

.torrent_seeding_paused {
    background-color: #003200;
}

.torrent_downloading_active {
    background-color: #DC6E00;
}

.torrent_downloading_queued {
    background-color: #DC6E00;
}

.torrent_downloading_paused {
    background-color: #964B00;
}

.torrent_checking {
    background-color: #4B0000;
}

.torrent_error {
    background-color: #AF0000;
}

.file_video_copy {
    background-color: #AFAF00;
}

.file_video_ignore {
    background-color: #4B4B00;
}

.file_subtitle_copy {
    background-color: #000096;
}

.file_subtitle_ignore {
    background-color: #000032;
}

.file_none_ignore, .file_none_copy {
    background-color: #101010;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

div.titlebox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 2px 3px 6px 3px;
}

div.titlebox img {
    display: inline-block;
    height: 18px;
    width: 18px;
    /*margin: -2px 5px -2px 5px;*/
    margin: -2px 0px -1px 0px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}

/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.tilesplitter {
    height: 2px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

div.subtitlebox {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    font-size: 75%;
    padding: 5px 4px 4px 4px;
}

div.subtitlebox img {
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: -2px 5px -2px 5px;
    -webkit-filter: brightness(9) saturate(9);
    filter: brightness(9) saturate(9);
}
