/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

.torrenttile {
    width: 860px;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

.titleleftextended {
    width: 828px;
    text-align: left;
}

.titlerightextended {
    width: 20px;
    text-align: right;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

.splitterextended {
    width: 852px;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

.subtitleleftextended {
    width: 664px;
    text-align: left;
}

.subtitlerightextended {
    width: 180px;
    text-align: right;
}

