/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

div.bannertile {
    width: 524px;
}

@media screen and (min-width: 1070px) {
    div.bannertile {
        width: 1018px;
    }
}

/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

div.bannertitleleft {
    width: 492px;
    text-align: left;
}

@media screen and (min-width: 1070px) {
    div.bannertitleleft {
        width: 986px;
    }
}

div.bannertitleright {
    width: 20px;
    text-align: right;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.bannersplitter {
    width: 516px;
}

@media screen and (min-width: 1070px) {
    div.bannersplitter {
        width: 1010px;
    }
}

/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

div.bannersubtitleleft {
    width: 516px;
    text-align: left;
}

@media screen and (min-width: 1070px) {
    div.bannersubtitleleft {
        width: 822px;
    }
}

div.bannersubtitleright {
    width: 516px;
    text-align: right;
}

@media screen and (min-width: 1070px) {
    div.bannersubtitleright {
        width: 180px;
    }
}

@media screen and (max-width: 1069px) {
    div.bannersubtitleright {
        padding-top: 0px;
    }
}

