/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

.torrenttile {
    width: 954px;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

.titleleftextended {
    width: 922px;
    text-align: left;
}

.titlerightextended {
    width: 20px;
    text-align: right;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

.splitterextended {
    width: 946px;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

.subtitleleftextended {
    width: 758px;
    text-align: left;
}

.subtitlerightextended {
    width: 180px;
    text-align: right;
}

