/* ===============================================================================
   TILE CONTAINER
   =============================================================================== */

a.contenttile, div.contenttile {
    width: 460px;
}


/* ===============================================================================
   TILE TITLE ROW
   =============================================================================== */

div.contenttitleleft {
    width: 427px;
    text-align: left;
}

div.contenttitleright {
    width: 20px;
    text-align: right;
}

div.contenttitlefull {
    width: 454px;
    text-align: left;
}


/* ===============================================================================
   TITLE SEPARATOR LINE
   =============================================================================== */

div.contentsplitter {
    width: 452px;
}


/* ===============================================================================
   TILE SUBTILE ROW
   =============================================================================== */

div.torrentsubtitleleft {
    width: 387px;
    text-align: left;
}

div.torrentsubtitleright {
    width: 56px;
    text-align: right;
}

div.contentsubtitlefull {
    width: 452px;
    text-align: left;
}

div.filesubtitleleft {
    width: 353px;
    text-align: left;
}

div.filesubtitleright {
    width: 90px;
    text-align: right;
}
