
/* Tooltip text */
.filesubtitleleft .tooltip {
    visibility: hidden;
    width: 200px;
    height: 30px;
    background-color: #DDD;
    color: #333;
    text-align: center;
    padding: 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    top: 0px;
    left: 100%;
    z-index: 1;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 2s;
}


/* Show the tooltip text when you mouse over the tooltip container */
.filesubtitleleft:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

