body {
    background: #AA0000;
    font-family: 'Trebuchet MS';
    line-height: 100%;
}

a {
    text-decoration: none;
	padding: 0px;
	margin: 0px;
    border-style: none;
}

.c1 {
	width: 20px;
}

.c2 {
	width: 750px;
}

.c3 {
	width: 150px;
}

.sub {
    position: relative;
    background-color: #F0C090;
	color: black;
	display: inline-block;
	height: 20px;
	padding: 0px 0px 0px 0px;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	border-style: none;
}

.main {
    /* position: relative; */
    background-color: #FFCC99;
	border-style: solid;
	border-width: 0px 0px 0px 5px;
	border-color: #FFAA00;
	overflow: hidden;
	padding: 5px 5px 5px 5px;
	border-radius: 0px 20px 5px 0px;
}

.wrapper {
    /* position: relative; */
	width: 800px;
	overflow: hidden;
    margin: 10px auto 10px auto;
    border-style: none;
}

.right {
    text-align: right;
}

p {
    margin: 1px 3px 0px 3px;
    padding: 0;
    /* vertical-align: middle;
    position: relative;
    top: 0;
    left: 0; */
}
