<html>
    <script src="/static/javascript/jquery-3.2.0.js"></script>
    <script src="/static/javascript/managecontrols.js"></script>
    <script src="/static/javascript/manageelements.js"></script>
    {% block javascript %}{% endblock %}
    <head>
        <title>Download-Manager</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href='/static/stylesheets/style.css' />
        <link rel="stylesheet" href='/static/stylesheets/tiles.css' />
        <link rel="stylesheet" href='/static/stylesheets/inputcontrols.css' />
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
