<html>
    <script src="./static/javascript/jquery-3.2.0.js"></script>
    <script src="./static/javascript/manage_controls.js"></script>
    <script src="./static/javascript/manage_elements.js"></script>
    <script src="./static/javascript/manage_colours.js"></script>
    {% block javascript %}{% endblock %}
    <head>
        <title>Download-Manager</title>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href='./static/stylesheets/style.css' />
        <link rel="stylesheet" href='./static/stylesheets/tiles.css' />
        <link rel="stylesheet" href='./static/stylesheets/tiles_wide.css' />
        <link rel="stylesheet" href='./static/stylesheets/tiles_narrow.css' />
        <link rel="stylesheet" href='./static/stylesheets/controls_button.css' />
        <link rel="stylesheet" href='./static/stylesheets/controls_other.css' />
        <link rel="stylesheet" href='./static/stylesheets/controls_slider.css' />
        <link rel="stylesheet" href='./static/stylesheets/controls_textbox.css' />
        <link rel="stylesheet" href='./static/stylesheets/showhideareas.css' />
        <link rel="stylesheet" href='./static/stylesheets/ajaxloader.css' />
        <link rel="stylesheet" href='./static/stylesheets/tooltips.css' />
        <link rel="stylesheet" href='./static/stylesheets/dialogs.css' />
    </head>
    <body><!--

        {% block banner %}{% endblock %}

        {% block content %}{% endblock %}

        {% block toolbar %}{% endblock %}

        {% block dialogs %}{% endblock %}

        {% block hiddendata %}{% endblock %}

     --><div id="ajaxloader" class="screenblock">
            <div class="spinner">
                <div class="rect1">
                </div><!--
             --><div class="rect2">
                </div><!--
             --><div class="rect3">
                </div><!--
             --><div class="rect4">
                </div><!--
             --><div class="rect5">
                </div>
            </div>
        </div>
    </body>
</html>
