{% macro buttontemplate(id, jsaction, image, alttext) %}

     --><button type="button" id="{{ id }}" onclick="javascript:{{ jsaction }};">
            <img src="./static/images/{{ image }}.png" alt="{{ alttext }} button" />
        </button><!--

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro disabledbuttontemplate(id, jsaction, image, alttext) %}

     --><button disabled type="button" id="{{ id }}" onclick="javascript:{{ jsaction }};">
            <img src="./static/images/{{ image }}.png" alt="{{ alttext }} button" />
        </button><!--

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro itembuttontemplate(idprefix, fileid, jsaction, jsactiontype, image, alttext) %}

     --><button type="button" id="{{ idprefix }}-{{ fileid }}" onclick="javascript:{{ jsaction }}('{{ fileid }}','{{ jsactiontype }}');">
            <img src="./static/images/{{ image }}.png" alt="{{ alttext }} button" />
        </button><!--

{% endmacro %}
