{% from 'button.html' import buttontemplate %}

{% macro dialogtoptemplate(dialogid, dialogtitle, cancelbuttonid, canceljsaction) %}

 --><div id="{{ dialogid }}" class="screenblock hidden">
        <div class="dialog"><!--

Dialog-Title and Cancel-Button

         --><div class="dialogtitle">
                <span>{{ dialogtitle }}...</span><!--
                {{ buttontemplate(cancelbuttonid, canceljsaction, "dialog_close", "close") }}
         --></div><!--

Horizontal-Bar

         --><div class="dialogsplitter"></div><!--

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro dialogbottomtemplate(id, jsaction) %}

Ok-Button

         --><div class="dialogactions"><!--
                {{ buttontemplate(id, jsaction, "dialog_go", "go") }}
         --></div><!--

     --></div>
    </div><!--

{% endmacro %}
