{% macro thermometertemplate() %}

    <g stroke-linecap="round" stroke="#222222" fill="#222222">
        <circle cx="60" cy="61" r="4" stroke-width="1" />
        <line stroke-width="6.5" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="round" stroke="#DD6666" fill="#DD6666">
        <circle cx="60" cy="61" r="3.5" stroke-width="1" />
        <line stroke-width="5.5" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="round" stroke="#222222" fill="#222222" >
        <circle cx="60" cy="61" r="2.75" stroke-width="1" />
        <line stroke-width="4" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="flat" stroke="#DD6666" fill="#DD6666">
        <circle cx="60" cy="61" r="1.5" stroke-width="1" />
        <line stroke-width="1.5" y1="61" y2="47" x1="60" x2="60" />
        <line stroke-width="0.5" y1="55" y2="55" x1="63" x2="66" />
        <line stroke-width="0.5" y1="51" y2="51" x1="63" x2="66" />
        <line stroke-width="0.5" y1="47" y2="47" x1="63" x2="66" />
        <line stroke-width="0.5" y1="43" y2="43" x1="63" x2="66" />
    </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


