{% macro thermometertemplate() %}

    <g stroke-linecap="round" stroke="#222222" fill="#222222">
        <circle cx="60" cy="61" r="4" stroke-width="1" />
        <line stroke-width="6.5" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="round" stroke="#DD6666" fill="#DD6666">
        <circle cx="60" cy="61" r="3.6" stroke-width="1" />
        <line stroke-width="5.5" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="round" stroke="#222222" fill="#222222" >
        <circle cx="60" cy="61" r="2.9" stroke-width="1" />
        <line stroke-width="4" y1="61" y2="42" x1="60" x2="60" />
    </g>
    <g stroke-linecap="flat" stroke="#DD6666" fill="#DD6666">
        <circle cx="60" cy="61" r="1.5" stroke-width="1" />
        <line stroke-width="1.5" y1="61" y2="47" x1="60" x2="60" />
        <line stroke-width="0.5" y1="55" y2="55" x1="63" x2="66" />
        <line stroke-width="0.5" y1="51" y2="51" x1="63" x2="66" />
        <line stroke-width="0.5" y1="47" y2="47" x1="63" x2="66" />
        <line stroke-width="0.5" y1="43" y2="43" x1="63" x2="66" />
    </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro storagetemplate() %}

    <g stroke-linecap="round" stroke="#222222" fill="#222222" stroke-width="1.75">
        <rect x="52.5" y="44" width="16" height="17" />
        <ellipse cx="60.5" cy="44" rx="8" ry="3" />
        <ellipse cx="60.5" cy="61" rx="8" ry="3" />
    </g>
    <g stroke-linecap="round" stroke="#92D050" fill="#222222" stroke-width="0.75">
        <line y1="44" y2="61" x1="52.5" x2="52.5" />
        <line y1="44" y2="61" x1="68.5" x2="68.5" />
        <ellipse cx="60.5" cy="44" rx="8" ry="3" />
        <ellipse cx="60.5" cy="61" rx="8" ry="3" stroke-dasharray="18.5 17.2" />
    </g>

    <g stroke-linecap="round" stroke="#222222" fill="#92D050" stroke-width="0.5">
        <ellipse cx="60.5" cy="61" rx="7.25" ry="2.5" />
        <rect x="53.5" y="58" width="14" height="3" stroke="#92D050" />
        <ellipse cx="60.5" cy="58" rx="7.25" ry="2.5" />
    </g>

    <g stroke-linecap="flat" stroke="#92D050" fill="transparent" stroke-width="0.5">
        <ellipse cx="60.5" cy="47.4" rx="8" ry="3" stroke-dasharray="4 40" />
        <ellipse cx="60.5" cy="50.8" rx="8" ry="3" stroke-dasharray="4 40" />
        <ellipse cx="60.5" cy="54.2" rx="8" ry="3" stroke-dasharray="4 40" />
        <ellipse cx="60.5" cy="57.6" rx="8" ry="3" stroke-dasharray="4 40" />
    </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro connectivitytemplate() %}

    <g stroke-linecap="round" stroke-width="4" stroke="#222222">
        <line y1="42" y2="61" x1="56" x2="56" />
        <line y1="56" y2="61" x1="52" x2="56" />
        <line y1="56" y2="61" x1="60" x2="56" />
        <line y1="42" y2="61" x1="65" x2="65" />
        <line y1="47" y2="42" x1="61" x2="65" />
        <line y1="47" y2="42" x1="69" x2="65" />
    </g>
    <g stroke-linecap="round" stroke-width="3" stroke="#FFFF00">
        <line y1="42" y2="61" x1="56" x2="56" />
        <line y1="56" y2="61" x1="52" x2="56" />
        <line y1="56" y2="61" x1="60" x2="56" />
    </g>
    <g stroke-linecap="round" stroke-width="3" stroke="#6688FF">
        <line y1="42" y2="61" x1="65" x2="65" />
        <line y1="47" y2="42" x1="61" x2="65" />
        <line y1="47" y2="42" x1="69" x2="65" />
    </g>


{% endmacro %}

