{% extends "base.html" %}



{% block javascript %}
    <script src="./static/javascript/index_update_torrents.js"></script>
    <script src="./static/javascript/index_add_torrent.js"></script>
{% endblock %}



{% block banner %}
<div id="IndexBanner" class="tile bannertile file_video_copy"><div class="indexbannercontent"><div class="titlebox contenttitleleft">Download-Manager</div>
<div class="tilesplitter contentsplitter"></div></div><div class="meter speedmeter">
    <svg viewBox="0 0 124 67">
        <g stroke="#FFFF00" stroke-width="3" stroke-linecap="round" id="downloadneedle"><line x1="{{ stats.d.ho }}" y1="{{ stats.d.vo }}" x2="{{ stats.d.hf }}" y2="{{ stats.d.vf }}" /></g>
        <g stroke="#6688FF" stroke-width="3" stroke-linecap="round" id="uploadneedle"><line x1="{{ stats.u.ho }}" y1="{{ stats.u.vo }}" x2="{{ stats.u.hf }}" y2="{{ stats.u.vf }}" /></g>
    </svg>
</div><div class="meter spacemeter">
    <svg viewBox="0 0 124 67">
        <g stroke="#DD6666" stroke-width="3" stroke-linecap="round" id="spaceneedle"><line x1="{{ stats.s.ho }}" y1="{{ stats.s.vo }}" x2="{{ stats.s.hf }}" y2="{{ stats.s.vf }}" /></g>
    </svg>
</div>
</div>{% endblock %}



{% block content %}
<div class="tilesgroup">
{% for torrent in torrentlist %}<a id="Torrent-{{ torrent.torrentid }}" class="tile contenttile torrent_{{ torrent.status }}" href="/Torrent={{ torrent.torrentid }}">
    <div class="titlebox contenttitleleft">
        {{ torrent.torrenttitle }}
    </div><div class="titlebox contenttitleright">
        <img src="./static/images/type_{{ torrent.torrenttype }}.png" alt="{{ torrent.torrenttype }}" />
    </div><div class="tilesplitter contentsplitter"></div><div class="subtitlebox torrentsubtitleleft">
        {{ torrent.torrentname }}
    </div><div class="subtitlebox torrentsubtitleright">
        <img id="StatusIcon-{{ torrent.torrentid }}" src="./static/images/status_{{ torrent.status }}.png" alt="{{ torrent.status }}" /><span id="Progress-{{ torrent.torrentid }}">{{ torrent.progress }}</span>
    </div>
</a>{% endfor %}
</div>{% endblock %}



{% block toolbar %}<div class="actionbuttonsgroup">
    <button type="button" id="Add" onclick="javascript:addTorrent();"><img src="./static/images/listaction_add.png" alt="add button" />
    </button><button type="button" id="Stop" onclick="javascript:updateTorrentsList('Stop');"><img src="./static/images/listaction_stopall.png" alt="stop button" />
    </button><button type="button" id="Start" onclick="javascript:updateTorrentsList('Start');"><img src="./static/images/listaction_startall.png" alt="start button" />
    </button><!--<button type="button" id="Config" onclick="javascript:folderMaintenance();"><img src="./static/images/listaction_config.png" alt="config folder button" />
    </button>-->
</div>
{% endblock %}



{% block dialogs %}
<div id="adddialog" class="screenblock hidden">
    <div class="dialog">
        <div class="dialogtitle">Adding Torrent...<button type="button" onclick="javascript:cancelAdd();"><img src="./static/images/dialog_close.png" alt="close" /></button></div>
        <div class="dialogsplitter"></div>
        <div class="dialogcontent"><div class="dialogitem dialogitemfull">New Torrent URL:<input type="text" name="newurl" class="newurlfield" value="" /></div></div>
        <div class="dialogactions"><button type="button" onclick="javascript:confirmAdd();"><img src="./static/images/dialog_go.png" alt="go" /></button></div>
    </div>
</div>
{% endblock %}



{% block hiddendata %}
<div class="hidden">
</div>
{% endblock %}
