{% extends "base.html" %}

{% block content %}

{% for torrent in torrentlist %}

<div class="wrapper">
	<a href="/Torrent={{ torrent.torrentid }}">
		<div class="main">
			<div class="sub c1">
				<p>.</p>
			</div>
			<div class="sub c2">
				<p>{{ torrent.torrentname }}</p>
			</div>
			<div class="sub c3">
				<p>{{ torrent.status }}</p>
			</div>
			<div class="sub c3">
				<p class="right">{{ torrent.progress }}</p>
			</div>
			<div class="sub c3">
				<p>{{ torrent.finished }}</p>
			</div>
			<div class="sub c3">
				<p class="right">{{ torrent.size }}</p>
			</div>
			<div class="sub c3">
				<p class="right">{{ torrent.eta }}</p>
			</div>
		</div>
	</a>
</div>

{% endfor %}

{% endblock %}

