{% macro meteroutlinetemplate(metertypeclass) %}

     --><div class="meter {{ metertypeclass }}">
            <svg width="121" height="68">

                <g stroke="#EEEEEE" stroke-width="1.5" stroke-linecap="round">
                    <circle cx="60.5" cy="61" r="58" fill="#222222" />
                    <rect x="0" y="67" width="121" height="8" fill="#7D7D00" stroke-width="0"/>
                    <line y1="67" x1="3" y2="67" x2="118" />
                </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro meterblockstemplate(dcf, dcg, dco, adf, adg, ado, ucf, ucg, uco, auf, aug, auo) %}

                <circle cx="60.5" cy="61" r="49.5" stroke-dasharray="170 151" stroke-dashoffset="167" fill="transparent" stroke="#FFFF00" stroke-width="10" />
                <circle cx="60.5" cy="61" r="36.5" stroke-dasharray="122 111" stroke-dashoffset="119" fill="transparent" stroke="#6688FF" stroke-width="10" />

                <g id="innerhider" stroke="#222222" stroke-width="6" stroke-linecap="flat" fill="transparent">
                    <circle cx="60.5" cy="61" r="49.5" stroke-dasharray="{{ adf }} {{ adg }}" stroke-dashoffset="{{ ado }}" />
                    <circle cx="60.5" cy="61" r="36.5" stroke-dasharray="{{ auf }} {{ aug }}" stroke-dashoffset="{{ auo }}" />
                </g>

                <g stroke="#FFFF00" stroke-width="6" stroke-linecap="flat">
                    <line y1="61.0" x1="15.26" y2="61.0" x2="6.56" />
                    <line y1="46.3105960132" x1="17.7112279855" y2="43.4857106311" x2="9.48261798267" />
                    <line y1="33.2130168779" x1="24.7992833549" y2="27.8693662775" x2="17.9337609232" />
                    <line y1="23.1265885234" x1="35.7560653265" y2="15.8432401625" x2="30.9976163509" />
                    <line y1="17.1443319689" x1="49.3942365618" y2="8.71054965523" x2="47.2585128236" />
                    <line y1="15.9145175364" x1="64.2358895892" y2="7.24423244722" x2="64.9543298948" />
                    <line y1="19.5704147021" x1="78.6727010113" y2="11.6031867602" x2="82.1674512058" />
                    <line y1="27.7158502811" x1="91.1402183003" y2="21.3150522583" x2="97.0325679735" />
                    <line y1="39.468139939" x1="100.287392505" y2="35.3273976196" x2="107.93881414" />
                    <line y1="53.5537407357" x1="105.122985366" y2="52.1217678003" x2="113.704328706" />
                </g>

                <g stroke="#6688FF" stroke-width="6" stroke-linecap="flat">
                    <line y1="61.0" x1="28.02" y2="61.0" x2="19.9" />
                    <line y1="50.4537612402" x1="29.7798559896" y2="47.8172015503" x2="22.099819987" />
                    <line y1="41.0503710918" x1="34.8687162548" y2="36.0629638648" x2="28.4608953185" />
                    <line y1="33.808832786" x1="42.7351238242" y2="27.0110409825" x2="38.2939047802" />
                    <line y1="29.5138793623" x1="52.5266313777" y2="21.6423492029" x2="50.5332892221" />
                    <line y1="28.6309356671" x1="63.1821771409" y2="20.5386695839" x2="63.8527214262" />
                    <line y1="31.2556823502" x1="73.5470673927" y2="23.8196029378" x2="76.8088342409" />
                    <line y1="37.1036873813" x1="82.4981054464" y2="31.1296092267" x2="87.997631808" />
                    <line y1="45.5412286742" x1="89.0653074392" y2="41.6765358427" x2="96.206634299" />
                    <line y1="55.6539677077" x1="92.5370151345" y2="54.3174596346" x2="100.546268918" />
                </g>

                <g id="outerhider" stroke="#222222" stroke-width="11" stroke-linecap="flat" fill="transparent">
                    <circle cx="60.5" cy="61" r="49.5" stroke-dasharray="{{ dcf }} {{ dcg }}" stroke-dashoffset="{{ dco }}" />
                    <circle cx="60.5" cy="61" r="36.5" stroke-dasharray="{{ ucf }} {{ ucg }}" stroke-dashoffset="{{ uco }}" />
                </g>

                <g stroke="#222222" stroke-width="2" stroke-linecap="flat">
                    <rect x="6" y="61" width="60" height="3" fill="#222222"/>
                    <line y1="61.0" x1="60.5" y2="65.0" x2="116" />
                    <line y1="61.0" x1="50" y2="61.0" x2="5" />
                    <line y1="57.2334861572" x1="49.5285199963" y2="43.1090592468" x2="8.3854699823" />
                    <line y1="53.8751325328" x1="51.345970091" y2="27.1568795308" x2="17.0183579323" />
                    <line y1="51.2888688522" x1="54.1554013658" y2="14.8721270477" x2="30.3631564875" />
                    <line y1="49.7549569151" x1="57.6523683492" y2="7.58604534674" x2="46.9737496585" />
                    <line y1="49.4396198811" x1="61.4579204075" y2="6.08819443533" x2="65.0501219355" />
                    <line y1="50.3770294108" x1="65.159666926" y2="10.5408897013" x2="82.6334178984" />
                    <line y1="52.4656026362" x1="68.3564662309" y2="20.4616125219" x2="97.8182145966" />
                    <line y1="55.4790102408" x1="70.701895514" y2="34.7752986437" x2="108.959003691" />
                    <line y1="59.0907027527" x1="71.9417911195" y2="51.9308380755" x2="114.848507817" />
                </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro metermarkerstemplate(l1, l2, l3, l4, l5, l6, l7, redmode) %}

                <style>
                    .metertext { font: 9px 'Oswald', sans-serif; fill: #999999; font-weight: normal;}
                </style>

            {% if redmode == "high" %}
                <circle cx="60.5" cy="61" r="51" stroke-dasharray="40 300" stroke-dashoffset="60" fill="transparent" stroke="#660000" stroke-width="9" />
            {% elif redmode == "low" %}
                <circle cx="60.5" cy="61" r="51" stroke-dasharray="40 300" stroke-dashoffset="180" fill="transparent" stroke="#660000" stroke-width="9" />
            {% endif %}

                <g stroke="#999999" stroke-width="1.5" stroke-linecap="round">
                    <line y1="61.0" x1="14.1" y2="61.0" x2="5.4" />
                    <line y1="43.2434887383" x1="17.6319896915" y2="39.9141428767" x2="9.59423775863" />
                    <line y1="28.1902453529" x1="27.6902453529" y2="22.0384163566" x2="21.5384163566" />
                    <line y1="18.1319896915" x1="42.7434887383" y2="10.0942377586" x2="39.4141428767" />
                    <line y1="14.6" x1="60.5" y2="5.9" x2="60.5" />
                    <line y1="18.1319896915" x1="78.2565112617" y2="10.0942377586" x2="81.5858571233" />
                    <line y1="28.1902453529" x1="93.3097546471" y2="22.0384163566" x2="99.4615836434" />
                    <line y1="43.2434887383" x1="103.368010309" y2="39.9141428767" x2="111.405762241" />
                    <line y1="61.0" x1="106.9" y2="61.0" x2="115.6" />
                </g>
            {% if l1 != "" %}
                <text x="21" y="50" class="metertext" text-anchor="start">{{ l1 }}</text>
            {% endif %}
            {% if l2 != "" %}
                <text x="0" y="0" class="metertext" text-anchor="start">{{ l2 }}</text>
            {% endif %}
            {% if l3 != "" %}
                <text x="41" y="30" class="metertext" text-anchor="start">{{ l3 }}</text>
            {% endif %}
            {% if l4 != "" %}
                <text x="60" y="26" class="metertext" text-anchor="middle">{{ l4 }}</text>
            {% endif %}
            {% if l5 != "" %}
                <text x="79" y="30" class="metertext" text-anchor="end">{{ l5 }}</text>
            {% endif %}
            {% if l6 != "" %}
                <text x="0" y="0" class="metertext" text-anchor="end">{{ l6 }}</text>
            {% endif %}
            {% if l7 != "" %}
                <text x="99" y="50" class="metertext" text-anchor="end">{{ l7 }}</text>
            {% endif %}

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro meterlinetemplate(id, colour, x1, y1, x2, y2) %}

                <g stroke="{{ colour }}" stroke-width="4" stroke-linecap="round" id="{{ id }}">
                    <line x1="{{ x1 }}" y1="{{ y1 }}" x2="{{ x2 }}" y2="{{ y2 }}" />
                </g>

{% endmacro %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% macro meterendtemplate() %}

            </svg>
        </div><!--

{% endmacro %}
