{% extends "base.html" %}

{% block javascript %}

	<script src="/static/jquery-3.2.0.js"></script>
	<script src="/static/torrent.js"></script>

{% endblock %}

{% block content %}

<div class="tilewrapper">
	<div class="tile">
		<div class="tilesection tileicon">
			<p>.</p>
		</div>
		<div class="tilesection tiletitle">
			<p>{{ selectedtorrent.torrentname }}</p>
		</div>
		<div class="tilesection tiledata">
			<p>{{ selectedtorrent.status }}</p>
		</div>
		<div class="tilesection tiledata">
			<p class="right">{{ selectedtorrent.progress }}</p>
		</div>
		<div class="tilesection tiledata">
			<p>{{ selectedtorrent.finished }}</p>
		</div>
		<div class="tilesection tiledata">
			<p class="right">{{ selectedtorrent.size }}</p>
		</div>
		<div class="tilesection tiledata">
			<p class="right">{{ selectedtorrent.eta }}</p>
		</div>


{% for fileitem in selectedtorrent.files %}

		<div class="tilesection filespacer">
		</div>
		<div class="tilesection tileicon">
			<p class="right">{{ fileitem.fileid }}</p>
		</div>
		<div class="tilesection tiletitle">
			<p>{{ fileitem.shortpath }}</p>
		</div>
		<div class="tilesection tiledata">
			<p class="right">{{ fileitem.size }}</p>
		</div>
		<div class="tilesection tiledata">
			<p>{{ fileitem.filetype }}</p>
		</div>
		<div class="tilesection tiledata">
			<p>{{ fileitem.episode }}</p>
		</div>

{% endfor %}

	</div>
</div>

{% endblock %}
