{% extends "base.html" %}
{% from 'button.html' import buttontemplate %}
{% from 'button.html' import disabledbuttontemplate %}
{% from 'button.html' import itembuttontemplate %}
{% from 'dialog.html' import dialogtoptemplate %}
{% from 'dialog.html' import dialogbottomtemplate %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block javascript %}

    <script src="./static/javascript/torrent_action_buttons.js"></script>
    <script src="./static/javascript/torrent_change_tvshow.js"></script>
    <script src="./static/javascript/torrent_change_torrenttype.js"></script>
    <script src="./static/javascript/torrent_change_fileoutcome.js"></script>
    <script src="./static/javascript/torrent_save_config.js"></script>
    <script src="./static/javascript/torrent_edit_config.js"></script>
    <script src="./static/javascript/torrent_cancel_config.js"></script>
    <script src="./static/javascript/torrent_update_state.js"></script>
    <script src="./static/javascript/torrent_copy.js"></script>
    <script src="./static/javascript/torrent_delete.js"></script>

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block banner %}

 --><div id="TorrentTile" class="tile bannertile torrent_{{ selectedtorrent.status }}"><!--

Section: Configured-Title & Type Read-Only-View

     --><div class="readonlyfields"><!--

Subsection: Configured-Title

          --><div class="titlebox bannertitleleft" id="TorrentTitle">
                <span>{{ selectedtorrent.torrenttitle }}</span>
            </div><!--

Subsection: Type

         --><div class="titlebox bannertitleright">
                <img id="TorrentType" src="./static/images/type_{{ selectedtorrent.torrenttype }}.png" alt="{{ selectedtorrent.torrenttype }}" />
            </div><!--

     --></div><!--

Section: Configured-Title & Type Edit-Mode-View

     --><div class="editmodefields"><!--

Subsection: Type-Selector-Buttons

         --><div class="buttongroup"><!--

                {{ buttontemplate("MakeUnknown", "changeTorrentType('unknown')", "type_unknown", "unknown") }}

                {{ buttontemplate("MakeMovie", "changeTorrentType('movie')", "type_movie", "movie") }}

                {{ buttontemplate("MakeTVShow", "changeTorrentType('tvshow')", "type_tvshow", "tv show") }}

         --></div><!--

Subsection: Unknown-Type-Fields

         --><div class="unknownonlyfields">
                <span class="fieldlabel">New Unspecified Torrent</span>
            </div><!--

Subsection: TV-Show-Type-Fields

         --><div class="tvshowonlyfields"><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">TV Show:</span><!--
             --><select class="tvshownamefield" name="tvshowselector" onchange="javascript:updateTVShowSeasons('');"></select><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Season:</span><!--
             --><select class="tvshowseasonfield" name="tvshowseasonselector"></select><!--
         --></div><!--

Subsection: Movie-Type-Fields

         --><div class="movieonlyfields"><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Film:</span><!--
             --><input type="text" name="moviename" value="" class="movienamefield" /><!--
             --><div class="narrowspacer"></div><!--
             --><span class="fieldlabel torrentfieldlabel">Year:</span><!--
             --><input type="text" name="movieyear" value="" class="movieyearfield" /><!--
         --></div><!--


     --></div><!--

Section: Horizontal-Line

     --><div class="tilesplitter bannersplitter"></div><!--

Section: Raw-Title

     --><div class="subtitlebox bannersubtitleleft">
            <span>{{ selectedtorrent.torrentname }}</span>
        </div><!--

Section: Progress and Status

     --><div class="subtitlebox bannersubtitleright"><!--
         --><img id="Status" src="./static/images/status_{{ selectedtorrent.status }}.png" alt="{{ selectedtorrent.status }}" /><!--
         --><span id="Progress">{{ selectedtorrent.progress }}</span><!--
     --></div><!--

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block content %}

 --><div class="tilesgroup"><!--

{% for fileitem in selectedtorrent.files %}

File {{ fileitem.filetitle }}

     --><div id="File-{{ fileitem.fileid }}" class="tile contenttile file_{{ fileitem.filetype }}_{{ fileitem.outcome }}"><!--

Section: Configured-Filename & Type Read-Only-View

         --><div class="readonlyfields"><!--

Subsection: Configured-Filename

             --><div class="titlebox contenttitleleft" id="filetitle-{{ fileitem.fileid }}">
                    <span>{{ fileitem.filetitle }}</span>
                </div><!--

Subsection: Type

             --><div class="titlebox contenttitleright">
                    <img id="outcome-{{ fileitem.fileid }}" class="outeredgeimage" src="./static/images/fileaction_{{ fileitem.outcome }}.png" alt="{{ fileitem.outcome }}" />
                </div><!--

         --></div><!--

Section: Configured-Filename & Type Edit-Mode-View

         --><div class="editmodefields"><!--

{% if fileitem.filetype == "none" %}

Section-Mode: Unusable-Filetype; Torrent Type Irrelevent

             --><div class="titlebox contenttitlefull buttongroupequivalent">
                    <span>Ignored File</span>
                </div><!--

{% else %}

Section-Mode: Usable-Filetype; Unknown Torrent Type

             --><div class="unknownonlyfields"><!--

                 --><div class="titlebox contenttitlefull buttongroupequivalent">
                        <span>Do Not Save</span>
                    </div><!--

             --></div><!--

Section-Mode: Usable-Filetype; Known Torrent Type

             --><div class="movieonlyfields tvshowonlyfields"><!--

Subsection: FileMode-Selector-Buttons

                 --><div class="buttongroup"><!--

                        {{ itembuttontemplate("MakeIgnore", fileitem.fileid, "changeFileDesignation", "ignore", "fileaction_ignore", "ignore") }}

                        {{ itembuttontemplate("MakeCopy", fileitem.fileid, "changeFileDesignation", "copy", "fileaction_copy", "copy") }}

                 --></div><!--

Subsection: Dont-Copy-Filemode

                 --><div class="ignoreonlyfields" id="ignoreconfig-{{ fileitem.fileid }}">
                        <span class="fieldlabel">Do Not Save</span>
                    </div><!--

Subsection: Do-Copy-Filemode

                 --><div class="copyonlyfields" id="copyconfig-{{ fileitem.fileid }}"><!--

                     --><div class="movieonlyfields">
                            <span class="fieldlabel">Save As Film</span>
                        </div><!--

                     --><div class="tvshowonlyfields">
                            <span class="fieldlabel">Save As:</span><!--
                         --><select name="episodeselector-{{ fileitem.fileid }}" class="fileepisode"></select>
                        </div><!--

{% if fileitem.filetype == "subtitle" %}

                     --><div class="tvshowonlyfields movieonlyfields">
                            <span class="fieldlabel">Subtitle:</span><!--
                         --><select name="subtitleselector-{{ fileitem.fileid }}" class="filesubtitle"></select>
                        </div><!--

{% endif %}

                 --></div><!--
             --></div><!--

{% endif %}

         --></div><!--

Section: Horizontal-Line

         --><div class="tilesplitter contentsplitter">
            </div><!--

Section: Raw-Filename

         --><div class="subtitlebox filesubtitleleft">
                <span class="tooltip">{{ fileitem.filename }}</span><!--
             --><span>{{ fileitem.filename }}</span>
            </div><!--

Section: File-Type & File-Size

         --><div class="subtitlebox filesubtitleright">
                <img id="filetype-{{ fileitem.fileid }}" src="./static/images/filetype_{{ fileitem.filetype }}.png" alt="{{ fileitem.filetype }}" /><!--
             --><span>{{ fileitem.size }}</span>
            </div><!--

     --></div><!--

{% endfor %}

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block toolbar %}

 --><div class="actionbuttonsgroup"><!--

Section: Read-Only-Mode Action Buttons

     --><div class="readmodebuttons"><!--

            {{ buttontemplate("Exit", "window.location.replace('/')", "torrentaction_exit", "exit") }}

            {{ buttontemplate("Stop", "updateTorrentState('Stop')", "torrentaction_stop", "stop") }}

            {{ buttontemplate("Start", "updateTorrentState('Start')", "torrentaction_start", "start") }}

            {{ disabledbuttontemplate("Edit", "editTorrentConfiguration()", "torrentaction_edit", "edit") }}

            {{ disabledbuttontemplate("Copy", "copyTorrent()", "torrentaction_copy", "copy") }}

            {{ buttontemplate("Delete", "deleteTorrent()", "torrentaction_delete", "delete") }}

     --></div><!--

Section: Edit-Mode Action Buttons

     --><div class="editmodebuttons"><!--

            {{ buttontemplate("Cancel", "cancelTorrentConfiguration()", "torrentaction_cancel", "cancel") }}

            {{ buttontemplate("Save", "saveTorrentConfiguration()", "torrentaction_commit", "commit") }}

     --></div><!--

 --></div><!--

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block dialogs %}

COPY-DIALOG

    {{ dialogtoptemplate("copydialog", "Copying Files", "CloseCopy", "closeCopyDialog()") }}

Dialog-Content

         --><div id="dialogcontent" class="dialogcontent">
            </div><!--


Ok-Button

    {{ dialogbottomtemplate("ConfirmCopy", "confirmCopy()") }}



DELETE-DIALOG

    {{ dialogtoptemplate("deletedialog", "Deleting Torrent", "CloseDelete", "cancelDelete()") }}

Dialog-Content

         --><div class="dialogcontent">
                <div class="dialogitem dialogitemfull">
                    <span>Do you want to delete this torrent and all its files?</span>
                </div>
            </div><!--

    {{ dialogbottomtemplate("ConfirmDelete", "confirmDelete()") }}

{% endblock %}


<!-- ------------------------------------------------------------------------------------------------ -->


{% block hiddendata %}

 --><div class="hidden">
        <span id="copyprogress">0</span>
        <span id="copystep">0</span>
        <img src="./static/images/copy_queued.png" />
        <img src="./static/images/copy_copying.png" />
        <img src="./static/images/copy_connecting.png" />
        <img src="./static/images/copy_copied.png" />
        <img src="./static/images/copy_failed.png" />
    </div><!--

{% endblock %}
